@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

#root {
  background-image: url(/src/assets/slide2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.noinfo {
  width: 200vw;
  padding: 50px;
}

#startpage {
  cursor: pointer;
  margin: 10px;
}

#search {
  height: 50px;
  width: 350px;
  padding: 5px;
  position: relative;
  text-align: center;
  top: 10px;
  background-color: beige;
  border-radius: 10px;
}

.mainmenu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebtn {
  color: rgb(250, 168, 165);
  font-weight: bold;
  font-size: large;
  cursor: pointer;
  width: 75%;
  text-align: center;
  border-radius: 15px;
  padding: 20px 30px;
}

.sidebtn:hover {
  background: rgba(250, 168, 165, 0.247);
}

.active {
  background: rgba(230, 41, 41, 0.678);
}

.discover {
  border-radius: 15px;
  width: 70vw;
  height: 240px;
  background-image: url(https://unsplash.com/photos/JNuKyKXLh8U/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8MTJ8fG11c2ljJTIwYW5kJTIwdmlkZW98ZW58MHx8fHwxNjc4NjExNDE3&force=true&w=1920);
  background-attachment: fixed;
  background-position: center;
  opacity: 0.9;
}

video {
  width: 90vw;
}

.nav-bar {
  padding: 40px 120px;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.sidemenu {
  padding: 25px;
  width: 40%;
  align-self: baseline;
}

.signbtn {
  cursor: pointer;
  color: #fcf9f9;
  background-color: #e73232;
  border-radius: 15px;
  margin: 10px;
  height: 50px;
  width: 100px;
  text-align: center;
}

h2 {
  color: rgb(250, 168, 165);
  margin-right: 10px;
}

ul li a {
  text-decoration: none;
  color: aliceblue;
}

a {
  text-decoration: none;
}

#footer {
  text-align: center;
  color: #ffffff;
  margin: 25px;
}

input[type="text"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.backbtn {
  background-color: #db5656;
  position: absolute;
  top: 14%;
  right: 2%;
  color: #faf5f5;
  height: 40px;
  width: 80px;
  border-radius: 15px;
}

#playlist {
  text-align: center;
}

.songbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
  padding: 5px;
  margin: 25px;
  width: 300px;
  box-shadow: 0px 15px 40px #0a0a0a66;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #f3cdcd;
  border-radius: 15px;
}

.songbox:hover {
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.5s;
  background-color: #b82c2e;
  border: 2px solid #e21a1a;
}

.songbox:active {
  border: 2px solid #2b0101;
  transition-property: all;
  transition-duration: 0.1s;
}

.songnames {
  position: relative;
  top: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cec1bf96;
  margin: 10px;
  border-radius: 15px;
  width: 300px;
  height: 50px;
}

#trackslist {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}

/* custom scroll bar  */
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(241, 133, 133);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

/* video player  */

.player-container {
  width: 80vw;
}

.videoplayer {
  width: 40vw;
  height: 10%;
  border-radius: 15px;
}

.vidplaybtn {
  position: relative;
  z-index: 1;
  bottom: 165px;
  right: 310px;
  color: white;
  background-color: #bb2743;
  height: 50px;
  width: 50px;
  border-radius: 25px;
}

.like {
  height: 20px;
  width: 20px;
  color: #AAA;
}

.commentinput {
  height: 100px;
  width: 350px;
  padding: 5px;
  position: relative;
  text-align: center;
  top: 10px;
  background-color: rgb(247, 247, 237);
  border-radius: 10px;
}

.comment-button {
  border-radius: 15px;
  background-color: #e7b6b6;
  margin: 30px;
  height: 30px;
  width: 100px;
  text-align: center;
}

.commentdisplay {
  padding: 25px;
  border-radius: 15px;
  width: 40vw;
  background-color: #AAA;
  height: auto;
}

.commentdiv {
  margin: 10px;
}

@media only screen and (max-width: 600px) {
  body {
    background-image: none;
    background: rgb(207, 88, 88);
    background: linear-gradient(153deg, rgba(207, 88, 88, 1) 0%, rgba(121, 9, 9, 1) 74%, rgba(250, 163, 163, 1) 100%);
    background-repeat: no-repeat;
    width: auto;
  }

  .sidemenu {
    width: 90%;
  }

  .nav-bar {
    padding: 30px 10px;
    flex-direction: column;
  }

  .discover {
    width: 85vw;
  }

  .mainmenu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #banner-title {
    margin: 0px;
    margin-bottom: 50%;
  }

  #trackslist {
    flex-direction: column;
    flex-wrap: wrap;
    /* margin-bottom: 200px; */
  }

  #search {
    margin-top: 10px;
    margin-left: 0px;
    width: auto;
  }

  #startpage {
    margin: 20px;
    margin-left: 30%;
  }

  .songbox {
    width: 80%;
    margin: 20px;
  }

  .videoplayer {
    width: 95vw;
    height: 10%;
    border-radius: 15px;
    margin-right: 10%;
  }

  .vidplaybtn {
    bottom: 150px;
    right: -25px;
  }

  .backbtn {
    background-color: #db5656;
    position: absolute;
    top: 66%;
    right: -6%;
  }

  .commentdisplay {
    width: 65vw;
  }

  input[type="text"] {
    width: 148px;
    /* height: 50px; */
  }

  .comment-button {
    margin: 10px;
  }
}

@media only screen and (max-width: 1000px) and (min-width:600px) {
  .nav-bar {
    padding: 30px 10px;
    flex-direction: column;
  }

  .vidplaybtn {
    bottom: 130px;
    right: 240px;
  }
}